{% set page_title = 'Publications' %}
{% set navbar_expand = false %}
{% set navbar_mobile = 'style-3' %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}
{% from 'macros/publications.html' import publication_card %}


{% block content %}
<div class="container w-100 mt-10 mb-100 align-items-center">
    <h2 class="h3 text-center mt-100 pb-20 mb-20" style="color: #a32121">Refereed Conference Articles</h2>

    {% for paper in publications.conference %}
        {{ publication_card(paper) }}
    {% endfor %}

    <h2 class="h3 text-center mt-60 pb-20 mb-20" style="color: #a32121">Late Breaking Work & Preprints</h2>

    {% for paper in publications.companion %}
        {{ publication_card(paper, true) }}
    {% endfor %}
    {% for paper in publications.preprints %}
        {{ publication_card(paper, true) }}
    {% endfor %}

    <h2 class="h3 text-center mt-60 pb-20 mb-20" style="color: #a32121">Lightly Refereed Workshop Papers</h2>

    {% for paper in publications.workshop %}
        {{ publication_card(paper, true) }}
    {% endfor %}

    <h2 class="h3 text-center mt-60 pb-20 mb-20" style="color: #a32121">Doctoral Consortium Papers</h2>

    {% for paper in publications.doctoral %}
        {{ publication_card(paper, true) }}
    {% endfor %}
</div>
{% endblock %}
