{% set page_title = 'Viblio' %}
{% set navbar_mobile = 'style-3' %}
{% set navbar_sticky = true %}
{% set navbar_expand = false %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}
{% set viblio = getPaperById('viblio-introducing-credibility-signals-and-citations-to-video-sharing-platforms') %}

{% extends 'layouts/layout-1.html' %}
{% from 'macros/publications.html' import publication_detail %}


{% block content %}
<div class="container">
    <div class="row justify-content-center gh-1 mb-50">
        {{ publication_detail(viblio) }}
    </div>

    <div class="row justify-content-center gh-1 gv-1 mb-100 w-100">
        <div class="col-4 show-on-scroll" data-show-duration="500" data-show-delay="50" style="padding-left: 0;">
            <img class="w-100 mb-100 show-on-scroll" src="assets/images/portfolio/viblio-photos/timeline-view.png" alt="">
        </div>
        <div class="col-4 show-on-scroll" data-show-duration="500" data-show-delay="50" style="padding-left: 0;">
            <img class="w-100 mb-100 show-on-scroll" src="assets/images/portfolio/viblio-photos/list-view.png" alt="">
        </div>
        <a class="h5 col-4 p-20 m-20 btn btn-dark text-white btn-with-ball" href="https://social.cs.washington.edu/papers/IntroductingCredibilitySignalsYouTube.pdf">View Workshop Paper</a>
        <a class="h5 col-4 p-20 m-20 btn btn-dark text-white btn-with-ball" href="https://misinfocon.com/wikiux-introducing-credibility-signals-and-citations-into-online-search-and-social-platforms-7e0adddc1e08">View Background Article</a>
    </div>
</div>
{% endblock %}
