
<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- Bootstrap -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- ImagesLoaded -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Animejs -->
<script src="assets/vendor/animejs/lib/anime.min.js"></script>

<!-- Rellax -->
<script src="assets/vendor/rellax/rellax.min.js"></script>

<!-- Isotope -->
<script src="assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="assets/vendor/isotope-packery/packery-mode.pkgd.min.js"></script>

<!-- Fancybox -->
<script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>

<!-- Themebau -->
<script src="assets/js/{{ template_name }}.min.js"></script>

{% if custom_script %}
<script>{{ custom_script | safe }}</script>
{% endif %}

<!-- END: Scripts -->
