<!DOCTYPE html>
{{ headerComment | safe }}
<html lang="en">
<head>
    {% if canonical_path and 'publications/' in canonical_path %}
    <base href="/">
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGK80MVJKG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CGK80MVJKG');
    </script>

    <title>{% if full_title %}{{ full_title }}{% else %}{% if page_title %}{{ page_title }} | {% endif %}{{ site.name }}{% endif %}</title>

    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ site.homepageMetaDescription }}{% endif %}">
    <meta name="author" content="{{ site.name }}">
    {% if canonical_path %}
    <link rel="canonical" href="{{ site.url }}/{{ canonical_path }}">
    {% elif canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% else %}
    <link rel="canonical" href="{{ site.url }}/">
    {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:title" content="{% if full_title %}{{ full_title }}{% else %}{% if page_title %}{{ page_title }} | {% endif %}{{ site.name }}{% endif %}">
    <meta property="og:description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ site.homepageMetaDescription }}{% endif %}">
    <meta property="og:url" content="{% if canonical_path %}{{ site.url }}/{{ canonical_path }}{% elif canonical_url %}{{ canonical_url }}{% else %}{{ site.url }}/{% endif %}">
    <meta property="og:image" content="{{ site.url }}/{{ site.socialPreviewImage }}">
    <meta property="og:image:alt" content="Portrait of {{ site.name }}">
    <meta name="twitter:card" content="summary">

    <link rel="icon" type="image/svg+xml" href="assets/images/favicon.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- START: Styles -->

    <!-- Fancybox -->
    <link rel="stylesheet" href="assets/vendor/fancybox/dist/jquery.fancybox.min.css" />

    <!-- Themebau -->
    <link rel="stylesheet" href="assets/css/{{ template_name }}.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    {% if custom_css %}<link rel="stylesheet" href="{{ custom_css }}">{% endif %}
    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
